<mat-card class="example-card">
  <mat-card-header style="justify-content: space-between;">
    <mat-card-title>
      Písně
    </mat-card-title>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="click()" mat-menu-item>
        <mat-icon>add</mat-icon>
        Nová píseň
      </button>
      <a 
        href="https://app.tango.us/app/workflow/Jak-p-idat-z-znam-o-hran--p-sn--a57c8ab78e5349d999887b29cc01555b" 
        target="_blank" mat-menu-item>
        <mat-icon>question_mark</mat-icon>
        Nápověda
      </a>
      <!-- <button mat-menu-item hidden>
        <mat-icon>music_note</mat-icon>
        <span>Chvály</span>
      </button>
      <button mat-menu-item hidden>
        <mat-icon>menu_book</mat-icon>
        <span>Bratrské písně</span>
      </button> -->
    </mat-menu>
  </mat-card-header>
  <mat-divider style="margin-top: 0.5rem;"></mat-divider>
  <mat-card-content style="padding-top: 16px; flex-grow: 1; display: flex; flex-direction: column;">
    <section>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Hledat název" [(ngModel)]="nameInput" (input)="onNameInputChanged($event)">
      </mat-form-field>
      <!-- <mat-form-field class="example-full-width">
        <input matInput placeholder="Hledat číslo" [(ngModel)]="numberInput" (input)="onNumberInputChanged($event)">
      </mat-form-field> -->
    </section>
    <mat-divider></mat-divider>
    <mat-divider style="margin-top: 2px;"></mat-divider>
    <h3 mat-subheader style="display: flex; margin: unset;">
      <div style="width: 50%;" (click)="sortSongsByName()">název</div>
      <div style="width: 20%;" (click)="sortSongsByPlayedTimes()">za rok</div>
      <div style="width: 30%;" (click)="sortSongsByDate()">naposled</div>
    </h3>
    <mat-list role="list" style="max-height: 60vh; overflow-y: scroll;">
      <mat-list-item role="listitem" *ngFor="let song of songs" (click)="openDetail(song)"
        style="height: unset; padding: unset; display: flex;">
        <div style="width: 48%; overflow: hidden; margin-right: 2%; text-overflow: ellipsis;">
          {{ song.songName }}
        </div>
        <div style="width: 20%;">{{ (song.playedThisYearTimes) }}x</div>
        <div style="width: 30%;">{{ (song.newestRecordDate !== undefined) ? (song.newestRecordDate | date:'d.M. YYYY') : "" }}</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
