<mat-card class="example-card">
  <mat-card-header style="justify-content: space-between;">
    <mat-card-title>
      Písně
    </mat-card-title>
      <button (click)="click()" mat-raised-button color="primary" style="float: right">
        <mat-icon>add</mat-icon>
        Nová
      </button>
  </mat-card-header>
  <mat-divider style="margin-top: 0.5rem;"></mat-divider>
  <mat-card-content style="padding-top: 16px;">
    <section>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Hledat název" [(ngModel)]="nameInput" (input)="onNameInputChanged($event)">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Hledat číslo">
      </mat-form-field>
    </section>
    <mat-divider></mat-divider>
    <mat-divider style="margin-top: 2px;"></mat-divider>
    <h3 mat-subheader style="display: flex; margin: unset;">
      <div style="width: 50%;">název</div>
      <div style="width: 20%;">číslo</div>
      <div style="width: 30%;">hráno</div>
    </h3>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let song of songs" style="height: unset; padding: unset; display: flex;">
        <div style="width: 50%;">{{ song.songName }}</div>
        <div style="width: 20%;">{{ song.songNumber ? "-" : song.songNumber }}</div>
        <div style="width: 30%;">{{ song.newestRecordDate | date:'d.M. YYYY' }}</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
