.example-card {
    
    max-width: 100vw;
    max-height: 90vh;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.heeding12 {
  color: red;
}

.example-full-width {
  width: 45%;
  margin: 0 2.5%;
}

::ng-deep .mat-mdc-list-item-unscoped-content {
  display: flex;
}

mat-list-item:nth-child(even) {
  background-color: rgb(192, 192, 192);
}