<mat-card style="padding: 0.5rem; min-height: 200px; display: flex;">
    <mat-card-header style="justify-content: space-between">
      <mat-card-title>Žádost o potvrzení</mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding-top: 16px; flex-grow: 1;">
        <mat-card-subtitle>{{ data.question }}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-footer style="padding: 0.5rem;">
      <button (click)="onClose()" mat-raised-button color="accent" style="float: left;">
          <mat-icon>arrow_back</mat-icon>
          Zpět
      </button>
      <button (click)="onConfirm()" mat-raised-button color="primary" style="float: right;">
          <mat-icon>check</mat-icon>
          Ano
      </button>
  </mat-card-footer>
  </mat-card>